
<!-- Display Question -->
<h3>
  <div class="row" >
    {{ question.question }}
    <div class="" [hidden]="grading == false">
      <!-- Correct Answer Selected | Display Check Mark -->
      <div class="" [hidden]=" question.answer !== question.correct ">
        <i class="fas fa-check wbdv-fa-check-question"></i>
      </div>
      <!-- Wrong Answer Selected | Display Times Mark -->
      <div class="float-right" [hidden]="question.answer === question.correct">
        <i class="fas fa-times wbdv-fa-times-question"></i>
      </div>
    </div>
  </div>
</h3><br>

<!-- Display Answer Options -->
<ul class="list-group">
  <!-- Conditional Render Highlights the Correct Answer -->
  <li class="list-group-item" *ngFor="let listedOption of options"
      [ngClass]="{
          'list-group-item-success': (
          grading === true
          && question.correct === question.answer
          && question.correct === listedOption)
          ||
          (grading === true
          && question.correct !== question.answer
          && question.correct === listedOption),
          'list-group-item-danger': grading === true
          && question.correct !== question.answer
          && question.correct !== listedOption
      }"
  >
    <!-- Display Options to Answer the Question -->
    {{listedOption}}
    <input
      type="radio"
      name="{{question._id}}"
      [(ngModel)]="question.answer"
      value="{{listedOption}}"
    />
    <!-- Generate FontAwesome Check or Time for Correct/Incorrect Answer -->
    <div class="float-right" [hidden]="grading == false">
      <div class="float-right" [hidden]=" listedOption !== question.correct ">
        <i class="fas fa-check"></i>
      </div>
      <div class="float-right" [hidden]= "question.answer === question.correct">
        <div class="float-right" [hidden]= "question.answer !== listedOption">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </li>
</ul>

<!-- Grade Button to Submit Answer -->
<!--<button type="button" class="btn btn-success" (click)="grade()"  (click)="submitAnswer()">-->
<!--  Grade-->
<!--</button>-->

<button type="button" class="btn btn-success"  (click)="submitAnswer()">
  Submit Answer
</button>
