<h3>     {{question.question }}   </h3><br>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let option of options"
      [ngClass]="{
          'list-group-item-success': (
          grading === true
          && question.correct === question.selectedAnswer
          && question.correct === option)
          ||
          (grading === true
          && question.correct !== question.selectedAnswer
          && question.correct === option),
          'list-group-item-danger': grading === true
          && question.correct !== question.selectedAnswer
          && question.correct !== option
      }"
  >

    {{option}} <input type="radio" name="{{question._id}}"
                      [(ngModel)]="question.selectedAnswer"
                      value="{{option}}"/>
  </li>


</ul>

<button type="button" class="btn btn-success" (click)="grade()">
  Grade
</button>
