  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand"> <h3> WhiteBoard </h3> </a>
    <a class="navbar-brand" routerLink="/courses/"> Courses </a>
  </nav>


  <div class="container-fluid">

<ul class="list-group wbdv-course-list-container">

  <!-- HEADING  -->
  <li class="list-group-item active">
    Courses {{courseId}}
  </li>

  <!-- LIST OF COURSES  -->
  <li *ngFor="let course of courses"
      [ngClass]="{'list-group-item-success': course._id === courseId}"
      class="list-group-item">

    <!--
          COURSE TITLE : Links to Update URL
          If the course is editing, hide course title.
          Show input field.
          If the course is NOT editing show course title link.
          Hide input field.
    -->
    <span [hidden]="course.editing">
      <a routerLink="/courses/{{course._id}}/modules">
        <i class="fas fa-file"></i> {{course.title}}
      </a>
    </span>
    <!--    <span [hidden]="course.editing">{{course.title}}</span>-->
    <input [hidden]="!course.editing" [(ngModel)]="course.title"/>


    <!--  Buttons DELETE, EDIT, SAVE  -->
<!--    <button class="float-right" (click)="deleteCourse(course)">-->
<!--      Delete-->
<!--    </button>-->
<!--    <button class="float-right" [hidden]="course.editing" (click)="editCourse(course)">-->
<!--      Edit-->
<!--    </button>-->
<!--    <button class="float-right" [hidden]="!course.editing" (click)="saveCourse(course)">-->
<!--      Save-->
<!--    </button>-->
  </li>

  <!-- button CREATE -->
<!--  <li class="list-group-item">-->
<!--    <button (click)="createCourse()">-->
<!--      Create-->
<!--    </button>-->
<!--  </li>-->

</ul>
</div>
