<!--<p>topic-pills works!</p>-->

<ul class="nav nav-pills nav-justified">
<!--  <li class="list-group-item active">-->
<!--    Topics-->
<!--  </li>-->
  <li *ngFor="let topic of topics"
      [ngClass]="{'list-group-item-success': topic._id === topicId}"
      class="nav-link">


<!--  <span [hidden]="topic.editing">-->
      <a routerLink="/courses/{{courseId}}/modules/{{moduleId}}/lessons/{{lessonId}}/topics/{{topic._id}}/widgets"
         class="nav-link active">
          {{topic.title}}
      </a>

<!--  </span>-->

<!--    <input [hidden]="!topic.editing" [(ngModel)]="topic.title"/>-->


    <!--  Buttons DELETE, EDIT, SAVE  -->
<!--    <button class="float-right" (click)="deleteTopic(topic)">-->
<!--      Delete-->
<!--    </button>-->
<!--    <button class="float-right" [hidden]="topic.editing" (click)="editTopic(topic)">-->
<!--      Edit-->
<!--    </button>-->
<!--    <button class="float-right" [hidden]="!topic.editing" (click)="saveTopic(topic)">-->
<!--      Save-->
<!--    </button>-->
  </li>

<!--  <li  class="list-group-item">-->
<!--    <button (click)="createTopicForLesson(lessonId)">-->
<!--      Create-->
<!--    </button>-->
<!--  </li>-->

</ul>
